<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
      <form id="form" v-on:submit.prevent="addUser" >
       <input type = "text" v-model="input" />
       <input type="submit"  value="add"/>
      
      </form>
  
      
      <ul v-for = "user in users" >
        <li>
          {{ user.name }}
          <button v-on:click.prevent="editUser(user)">Edit</button> ||
          <button v-on:click.prevent="removeUser(user)">Delete</button>
        </li>
      
      </ul>
  
   


  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
          input:'',
        

            users : [
                {
                    'name' : 'Muhammad Iqbal Mubarok',
                },
                {
                    'name' : 'Ruby Purwanti',
                },
                {
                    'name' : 'Faqih Muhammad',
                },
                
          ],
          
         
      },
      methods: {

        addUser : function(){

          this.input.push(this.users);
          this.input.users='';


        }
      
          
        },

  });
  </script>
</body>
</html>